*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
}
.area{
    height: 100px;
    width: 100px;
    transform: translate(-50%,-50%) scale(0.8);
    /* transform-style: preserve-3d; */
    top: 50%;
    left: 50%;
    /* border: 1px solid wheat; */
    position: absolute;
}
.area .sqr{
    height: calc(var(--i)*25px);
    width: calc(var(--i)*25px);
    background-color: rgba(0, 255, 234, 0.040);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 0 30px black,0 0 30px black,0 0 30px black;
    animation: tor 5s infinite;
    animation-delay: calc(var(--i)*0.05s);
}
@keyframes tor {
    0%{
        transform: translate(-50%,-50%);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}