.move {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 50px;
    width: 150px;
    height: 50px;
    background-color: #ff00ff;
    border: 2px;
    border-style: double;
    color: #aaffee;
    transition: 1s;
}
.moving {
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 50px;
    width: 150px;
    height: 50px;
    background-color: #ff6666;
    border: 2px;
    border-style: dotted;
    color: #aaffee;
}
.hp {
    position: absolute;
    z-index: 50;
    top: 15px;
    left: 15px;
}
body {
    cursor: default;
    background-color: #000;
    color: #dddddd;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
a:link {
    color: #ffffff;
}
a:visited {
    color: #ffffff;
}
a:hover {
    color: #ffa3d8;
}
a:active {
    color: #a0d0ff;
}
#otop {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 99%;
    height: 20px;
    text-align: right;
}